/*
Michele Laramore
AVF 1309
*/

/*MEDIA QUERY Ð PORTRAIT ORIENTATION ANDROID*/

@media only screen and (max-width: 480px) {
.ui-bar-c {
border : #a02023 solid 1px;
color : #cfc895;
font-weight : bold;
text-shadow : 0 1px 0 #444444;
}

.ui-page.ui-body-c {
background : #f0b24b;
}

header.ui-header.ui-bar-c {
background : #a02023;
}

li {
list-style-type : none;
}

ul #dishlist li.dishes {
font-weight : bold;
height : 10%;
}

h1 {
text-align: center;
color : #a02023;
text-shadow : 0.1em 0.1em 0.2em black;
font-weight : bold;
height : 15%;
}

h1.ui-title {
color : #cfc895;
}

img.header {
max-width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

li.ui-field-contain.ui-body {
background : #f0b24b;
}

a.ui-btn.ui-btn-inline {
background : #a02023;
}

.ui-btn-text {
color : #cfc895;
text-shadow : 0.1em 0.1em 0.2em #000000;
}

p {
	margin-left: 4%;
	margin-right: 4%;
	text-shadow: 0px 2px 4px #000000;
    color: #cfc895;
}

h2 {
	color: #CF6D2D;
	text-shadow: 0px 2px 4px #000000;
	text-align: center;
}

.ui-btn-inner{
	background: #a02023;
}

.ui-collapsible-content.ui-body-c {
	background: #F0BD6D;
}

ul li{
	margin: 3%;
	text-shadow: 0px 2px 4px #000000;
    color: #cfc895;
}

ol li {
	margin: 3%;
	 text-shadow: 0px 2px 4px #000000;
    color: #cfc895;
}

a.ui-link{ 
	color: #CFC895; 
} 

#last {
	margin-bottom: 3%;
}

#polaroid{
max-width: 45%;
display: block;
margin-left: auto;
margin-right: auto;
padding:15px 15px;
}

#polaroid figure{
margin-left: auto;
margin-right: auto;
position:relative;
max-width:100%;
padding: 6px 8px 20px 8px;
-webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
-moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
background: #eee6d8;
background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
-webkit-transform:rotate(-1deg);
-moz-transform: rotate(-1deg);
-o-transform: rotate(-1deg);
-ms-transform: rotate(-1deg);
transform: rotate(-1deg);
-webkit-backface-visibility:hidden; 
}

/*img*/
#polaroid img {
width: auto;
max-width: 100%;
}

#polaroid figure:nth-child(even) {
-webkit-transform:rotate(2deg);
-moz-transform: rotate(2deg);
-o-transform: rotate(2deg);
-ms-transform: rotate(2deg);
transform: rotate(2deg);
-webkit-backface-visibility:hidden; 
-webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
-moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, .75);
}


/*tape*/
#polaroid figure:before {
content: '';
display: block;
position: relative;
left:5px;
top: -15px;
width: 75px;
height: 25px;
background-color: rgba(249,243, 243 ,0.3);
-webkit-transform: rotate(-12deg);
-moz-transform: rotate(-12deg);
-o-transform: rotate(-12deg);
-ms-transform: rotate(-12deg);
}

#polaroid figure:nth-child(even):before {
left:100px;
top: -15px;
width: 55px;
height: 25px;
-webkit-transform: rotate(12deg);
-moz-transform: rotate(12deg);
-o-transform: rotate(12deg);
-ms-transform: rotate(12deg);
}

/*text*/

#polaroid figcaption{
@media screen text-align: center;
font-size: .05em;
line-height: .5em;
color: #a02023;
padding-top: 5%;
padding-bottom: 5%;
}

#map-canvas {
margin: 0;
margin-left: auto;
margin-right: auto;
margin-top: 5%;
width: 325px;
height: 250px;
-moz-box-shadow:    3px 3px 5px 1px #000;
-webkit-box-shadow: 3px 3px 5px 1px #000;
box-shadow:         3px 3px 5px 1px #000;
}

/*CAMERA*/

#smallImage {
width:60px;
height:60px; 
}   

#largeImage {
display: none;
}
}
